# Environments
venv/
.env
.chroma/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
che__/
*.pyc

# Data (Reproducible via scripts 01 & 02)
*.csv
data/

# Vector Database (Reproducible via script 03)
chroma_db/

# OS/IDE
.DS_Store
.vscode/
.idea/
